<h1> Welcome to Darcie's Cock fighting!</h1>
<h2> Sign in to play</h2>

<form action='/names' method='post'>
  <label for="Player1_Name">
    Player 1
    <input type='text' name='Player1_Name'>
  </label>
  <label for="Player2_Name">
    Player 2
    <input type='text' name='Player2_Name'>
  </label>
  <input type='submit' value='Submit'>
</form>
